@import 'variables';

body {
	background-color: @bgColor;

	div {
		color: @foreColor;
	}
	.tmdb-search {
		.tmdb-search__input {

		}
		.tmdb-search__submit {

		}
	}
	.tmdb-result {
		.tmdb-movie {
			width: @poster_width_base;
			height: @poster_height_base;
		}
	}
}
