@import 'variables';
@import 'colors';
@import 'mixins';

body {
	background-color: @bgColor;
	font-family: Arial;
	color: @foreColor;
}
div {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
}

input {
	border: none;
	box-shadow: none;
	font-weight: normal;
	background-color: @off-white;
	color: @near-black;
}

input:focus,
button:focus {
    outline: none;
}

#app {
	width: 100%;
	display: inline-block;
	text-align: center;
}

#tmdb-search-form {
	display: inline-block;
}

.tmdb-search,
.tmdb-search__options {
	width: 700px;
	margin-left: auto;
	margin-right: auto;
}

.tmdb-search {
	display: inline-block;
}

.tmdb-search__input {
	width: 580px;
	float: left;

	> input {
		font-size: 1.375em;
		width: 564px;
		padding-left: 16px;
		height: 44px;
		line-height: 44px;
		float: left;
		.border-radius(5px);
	}
}

.tmdb-search__submit {
	float: right;
	width: 110px;

	> button {
		.gradient-background-vendor-prefixes(@button-color-from, @button-color-to);
		.border-radius(5px);
		font-family: Arial;
		color: #ffffff;
		font-size: 20px;
		padding: 10px 20px 10px 20px;
		text-decoration: none;
		box-shadow: none;

		&:hover {
			.gradient-background-vendor-prefixes(@button-color-from-hover, @button-color-to-hover);
			text-decoration: none;
		}
	}
}

.tmdb-search-options {
	select {
		width: 75px;
	}

	header,
	.tmdb-option {
		width: 100%;
		display: block;
	}

	.tmdb-option {
		margin-top: 15px;
	}

	.tmdb-option__field {
		display: inline-block;

		input[type="number"] {
			.border-radius(3px);
			width: 45px;
		}
	}

}

.tmdb-result {

	display: block;
	width: auto;
	margin: 0 7%;

	.tmdb-movie {

		display: inline-block;

		> .tmdb-movie__image {

			display: inline-block;
			background-color: @posterBgColor;
			width: @poster_width_base + (@poster_padding_base * 2);
			height: @poster_height_base + (@poster_padding_base * 2);
			padding: @poster_padding_base;
			margin: @poster_margin_base;
			border: 1px solid black;
			overflow: hidden;

			> img {
				width: @poster_width_base - @poster_padding_base;
				height: @poster_height_base - @poster_padding_base;
				border: 1px solid black;
			}
		}

	}
}
